<div id="app">
    <h1>Roman Numeral Conversion</h1>
    <p>Enter a valid number between 0 and 100</p> 
    <input v-model="number">
    <button v-on:click="convert">Convert</button>
    <input v-model="romannumeral">
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            number:"",
            romannumeral: ""
        },
        methods: {
            convert: function(event){
                let url = "http://localhost:3000/getrn?number="+this.number
                axios.get(url).then(response => {
                    if(response.data === "ERROR"){
                        alert("Enter a valid number between 0 and 100")
                        this.number = this.romannumeral = ""
                    }
                    else{
                        this.romannumeral = response.data
                    }                    
                })
            }
        }
    })
</script>